@import 'modules/_breakpoints';
@import 'modules/_typography';

@import 'modules/_palette';
@import 'modules/_grid-system';
@import 'modules/_mq';
@import 'modules/_side-margins';
@import 'margins';

body {
    margin: 0;
    padding: 0;
}

// Remove <figure> margin
.interactive {
    margin: 0;

    *, * *{
    	box-sizing:border-box;
    }

    .gv-wrapper{
    	padding:0 20px;
    }
    #draw-header{
        padding-top:1px;
    }

    #draw-container{
    	&:after{
            clear:both;
            display:block;
            content: '';
        }
    }
    h1{
    	font-size:28px;
    	color:#333;
    	line-height:1.2em;
    	font-weight:bold;
    	font-family:$f-serif-headline;
    	span{
    		color:#4BC6DF;
    	}
    }
    h2{
    	font-size:22px;
    	font-family:$f-serif-headline;
    	font-weight:normal;
    	color:#767676;
    	line-height:30px;;
    }
    #current-pot{
    	text-align: center;
    	font-family: $f-sans-serif-text;
    	font-size:14px;
    	margin:6px 0;
    	color:#767676;
    	font-weight:bold;
    }
    #pots-container{
        position: relative;
        width:100%;
        height:20px;
        .team-circle{
            width:16px;
            height:16px;
            position: absolute;
            &:before{
                width:16px;
                height:16px;
                border-radius:30px;
                display:block;
                content:'';
                background:#eee;
                transform-origin:10% 10%;
            }
        }
    }
    #start-draw{
    	background: #4BC6DF;
    	height:54px;
    	border:none;
    	border-radius:44px;
    	font-family:$f-serif-headline;
    	font-weight:bold;
    	color:#fff;
    	font-size:20px;
    	padding:0 60px;
    	outline:none;
    	margin:0 auto 30px;
    	display:block;
    	cursor: pointer;
    	&:hover{
    		background:#197caa;
    	}
    }
    .group-container{
    	float:left;
		width:50%;
		margin: 0 0;	
		min-height:160px;

    	h3{
    		font-family:$f-serif-headline;
    		font-size:20px;
    		margin:0;
            .difficultyMeter{
                font-family: $f-sans-serif-text;
                font-size:12px;
                color:#767676;
                font-weight:normal;
                .odometer{
                    width:16px;
                    height:18px;
                    border:1px solid #eee;
                    display:inline-block;
                    margin-bottom:-4px;
                    background-image: url(/imgs/odometer.png);
                    background-repeat:no-repeat;
                    background-size:14px;
                    background-position:0 20px;
                    transition: background-position 2s;
                }
            }
    	}
    	ul{
    		margin:0;
    		padding:0;
    		li{
    			list-style:none;
    			padding:0;
    			margin:0;
    			font-size:14px;
    			position: relative;
    			padding-left:20px;
    			margin-bottom:4px;

    			.team-name{
    				opacity:0;
    				transition: 0.4s opacity;
    			}

    			.team-item-England{
    				font-weight:bold;
    			}

    			.flag{
    				width:14px;
    				height:14px;
    				border-radius:14px;
    				display:block;
    				background:#eee;
    				position: absolute;
    				left:0;
    				top:2px;
    				overflow:hidden;
                    line-height: 0;
    				img{
    					height:100%;
    					opacity:0;
    					transition: 0.4s opacity;
    				}
    			}

    			&.drawn{
    				.team-name{
    					opacity:1;
    				}
    				.flag{
    					animation: flag ease 0.4s;
    					img{
    						opacity:1;
    					}
    				}
    			}
    		}
    	}
    }
    #share-container{
        max-width:620px;
        border-top: 1px solid #efefef;
        margin:40px 0 80px;
        opacity:0;
        transition:opacity 0.5s;
        #share-line{
            font-size:28px;
            margin-top:20px;
        }
        .share-country-flag{
            width:18px;
            height:18px;
            border-radius:32px;
            overflow:hidden;
            display:inline-block;
            line-height:0;
            margin-right:4px;
            img{
                width:100%;
            }
        }
        button{
            width:40px;
            height:40px;
            border-radius:40px;
            border:none;
            outline: none;
            background: #333;
            background-position: center;
            background-repeat: no-repeat;
            cursor:pointer;
            &.share-twitter{
                background-image: url(/imgs/twitter.svg);
            }
            &.share-facebook{
                background-image: url(/imgs/facebook.svg);
            }
        }
        &.active{
            opacity:1;
        }
    }

    @keyframes flag {
        0% {
        	transform:scale(1);
        }
        50% {
        	transform:scale(1.8);
        }
    }

    @media ( min-width: 480px ) {
        .group-container{
        	width:33%;
        }
    }

    @media ( min-width: 540px ) {
        .group-container{
        	h3{
        		margin-bottom:0.2em;
        	}
        	ul li {
        		.flag{
        			width:16px;
        			height:16px;
        		}
        		.team-name{
        			font-size:16px;
        		}
        	}
        }
    }
    @media(min-width:breakpoints(tablet)){ //740px
        h1{
            font-size:30px;
        }
    }
    @media(min-width:breakpoints(desktop)){ //980px
        h1{
            font-size:36px;
        }
        #draw-wrapper{
            margin-left:140px;
        }
        #draw-header{
            max-width:620px;
        }
        #draw-container{
            max-width:720px;
        }
        .group-container{
            margin-bottom:40px;
            width:220px;
            margin-right:20px;
            ul li{
                padding-left:22px;
                .team-name{
                    font-size:18px;
                }
                .flag{
                    top:4px;
                }
            }
        }
    }
    @media(min-width:breakpoints(leftCol)){ //1140px
        #draw-wrapper{
            
        }
    }
    @media(min-width:breakpoints(wide)){ //1300px
        #draw-wrapper{
            margin-left:220px;
        }
    }
}

// @for $i from 1 through 24 {
//     $xPosition: random(100);
//     $yPosition: random(50);
//     $timeMove: random(2)+1;
//     $timeRotate: random(5)+2;

//     @keyframes move-#{$i}{
//         0%{transform: translate(0,0)}
//         50%{transform: translate($xPosition + px,$yPosition + px)}
//         100%{transform: translate(0,0)}
//     } 

//     .team-circle-#{$i}{
//         animation: move-#{$i} linear infinite;
//         animation-duration: $timeMove +s;
//         &:before{
//             animation: rotate 1s linear infinite;
//         }
//     }
// }

// @keyframes rotate{
//     0%{transform: rotate(0)}
//     100%{transform: rotate(360deg)}
// }
